<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>286854281469-5dme21nu10k4h27vjuilk3ivslu4u88r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.286854281469-5dme21nu10k4h27vjuilk3ivslu4u88r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>286854281469-oc1kicbi67to9kikqjs90ja0qb7l3s91.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA60cVpa8YT40tQCIk9rXhA-dLBFwt6lkA</string>
	<key>GCM_SENDER_ID</key>
	<string>286854281469</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.laodev.simplechat</string>
	<key>PROJECT_ID</key>
	<string>active-area-310108</string>
	<key>STORAGE_BUCKET</key>
	<string>active-area-310108.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:286854281469:ios:649421343692c0295ea694</string>
</dict>
</plist>